<header class="nav-bar">
    <div class="site-title">
        <span><i class="fa fa-code" aria-hidden="true"></i> <a href= "/">CP CLUB</a></span>
    </div>
    <div class="add-user">
        <a href="/add_user">Add User <i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
</header>